.header-container{
    display: flex;
    flex-direction: row;
}

.titulo-principal{
    margin-top: 1rem;
    margin-left: 2rem;
    color: #FFFFFF;
}

.link02{
    text-decoration: none;
    color: white;
}

.link02:hover{
    text-decoration: underline;
}

.links-container{
    margin-left: 5rem;
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}

.Sign-Out{
    display: flex;
    margin-left: auto;
    margin-right: 3rem;
    margin-top: 2rem;
    color: #FFFFFF;
    text-decoration: none;
}

.Sign-Out:hover{
    text-decoration: underline;
}
