.header{
    background-color: #141828;
    border-radius: 20px;
    width: 30rem;
    height: 30rem;
    margin: 12rem auto;
}

.titulo{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
    padding-top: 1.5rem;
    font-size: 1.3rem;

    font-weight: 500;
}

.link{
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    margin-left: 24.5rem;
    margin-top: -2.2rem;
    font-weight: lighter;
}


.login{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
    padding-top: 1.5rem;
}
